{{!-- nombre apellido correo password --}}
<h1>Crear usuario</h1>
<form action="/crear_usuario" method="get">
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre">

    <label for="apellido">Apellido</label>
    <input type="text" name="apellido">

    <label for="correo">Correo</label>
    <input type="email" name="email">

    <label for="password">Password</label>
    <input type="password" name="password">

    <button type="submit">Crear Usuario</button>
</form>